<div class="container mt-5 mb-5">

  <div class="center-block">
    <h2 class="text-primary mb-4 font-weight-bold">プロフィール編集</h2>
  </div>

  <%= form_with(model: @customer, url: customer_path, method: :patch) do |f| %>
    <%#= render "public/shared/error_messages", resource: resource %>

  <!-- ユーザーの詳細編集 -->
  <div class="pb-4">

    <!--名前-->
    <div class="from-group pb-4">
      <h4 class="font-weight-bold"><%= f.label "名前" %></h4>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <!--プロフィール-->
    <div class="from-group pb-4">
      <h4 class="font-weight-bold"><%= f.label "プロフィール" %></h4>
      <%= f.text_area :profile, size: "50x8", class:"form-control" %>
    </div>

    <!--メールアドレス-->
    <div class="from-group pb-4">
      <h4 class="font-weight-bold"><%= f.label "メールアドレス" %></h4>
      <%= f.text_field :email, class:"form-control" %>
    </div>

    <div class="row">
      <!--プロフィール画像-->
      <div class="col-10 pb-4">
        <h4 class="font-weight-bold"><%= f.label "プロフィール画像" %></h4>
        <%= f.file_field :image, :size => "10" %>
      </div><br>

      <div class="col-2 py-4"><%= f.submit "保存する", class: "btn btn-primary btn-sm mt-4" %></div>
    </div>

  </div>
  <% end %>

</div>

  <!--<div class="row">-->
  <!--  <div class="col-4 offset-md-1"><%#= f.label "新しいパスワード" %></div>-->
  <!--  <div class="col-3"><%#= f.password_field :password, autocomplete: "new-password" %></div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--  <div class="col-4 offset-md-1"><%#= f.label "新しいパスワード（確認用）" %></div>-->
  <!--  <div class="col-3"><%#= f.password_field :password_confirmation, autocomplete: "new-password" %></div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--  <div class="col-4 offset-md-1"><%#= f.label "現在のパスワード" %></div>-->
  <!--  <div class="col-3"><%#= f.password_field :current_password, autocomplete: "current-password" %></div>-->
  <!--</div>-->