<div class="container mt-5 mb-5">

  <div class="center-block">
    <h2 class="text-primary mb-4 font-weight-bold">プロフィール編集</h2>
  </div>

  <%= form_with(model: @customer, url: customer_path, method: :patch) do |f| %>

  <!-- ユーザーの詳細編集 -->
  <div class="pb-4">

    <!--名前-->
    <div class="from-group pb-4">
      <h4 class="font-weight-bold"><%= f.label "名前" %></h4>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <!--プロフィール-->
    <div class="from-group pb-4">
      <h4 class="font-weight-bold"><%= f.label "プロフィール" %></h4>
      <%= f.text_area :profile, size: "50x8", class:"form-control" %>
    </div>

    <div class="row">
      <!--プロフィール画像-->
      <div class="col-10 pb-4">
        <h4 class="font-weight-bold"><%= f.label "プロフィール画像" %></h4>
        <%= f.file_field :image, :size => "10" %>
      </div><br>

      <div class="col-2 py-4"><%= f.submit "保存する", class: "btn btn-primary btn-sm mt-4" %></div>
    </div>

  </div>
  <% end %>

</div>