<div class="container">

  <div class="border-right border-left border-bottom p-2 px-4">
    <h4 class="text-primary font-weight-bold">プロフィール</h4>
  </div>

  <!-- ユーザーの詳細 -->
  <div class="border-right border-left border-bottom p-4">
    <div class="row">

      <!--プロフィール画像、名前、プロフィール文-->
      <div class="col-md-8 p-4">
        <%= image_tag @customer.get_profile_image, size: '100x100',class:"border" %>
        <h3><%= @customer.name %></h3>
        <p><%= @customer.profile %></p>
      </div>

      <!--プロフィール編集ボタン-->
      <div class="col-md-4 p-4">
        <% if customer_signed_in? %>
          <% if current_customer.id == @customer.id %>
            <%= link_to "Edit Profile", edit_customer_path(current_customer), class:"btn btn-warning my-4" %>
          <% else %>
          <!--フォロー機能-->
          <div class="mypage-follow-contents-<%= @customer.id %>">
            <%= render "public/relationships/follow", customer: @customer %>
          </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <!-- ユーザーの投稿一覧 -->

  <% @likes.each do |l| %>
  <div id="favorite_buttons_<%= l.id %> follow_buttons_<%= l.id %>">
    <%= render 'public/likes/like', like: l %>
  </div>
  <% end %>

</div>