<div class="container">

  <div class="wrap">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">フォロー</a></li>
      <li><a href="#tab2" class="">フォロワー</a></li>
    </ul>

    <div id="tab-contents">

      <!--フォロー一覧-->
      <div id="tab1" class="tab">
        <% @followings.each do |customer| %>
        <div class="row">

          <span class="col-1 mx-3">
            <%= link_to customer_path(customer.id), :style=>"text-decoration: none; color: #000;" do %>
            <%= image_tag customer.get_profile_image, size: '40x40',class:"border" %>
            <% end %>
          </span>
          <div class="col-7">
            <%= link_to customer_path(customer.id), :style=>"text-decoration: none; color: #000;" do %>
            <h4><%= customer.name %></h4>
            <% end %>

            <%= customer.profile %>
          </div>
          <div class="col-3">
            <!--フォロー機能-->
            <% if current_customer.following?(customer) %>
              <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-primary btn-sm mt-2" %>
            <% else %>
              <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class: "btn btn-primary btn-sm mt-2" %>
            <% end %>
          </div>

        </div>
        <% end %>

      </div>


      <!--フォロワー一覧-->
      <div id="tab2" class="tab">

        <div class="row">

          <% @followers.each do |customer| %>
          <span class="col-1 mx-3">
            <%= link_to customer_path(customer.id), :style=>"text-decoration: none; color: #000;" do %>
            <%= image_tag customer.get_profile_image, size: '40x40',class:"border" %>
            <% end %>
          </span>
          <div class="col-7">
            <%= link_to customer_path(customer.id), :style=>"text-decoration: none; color: #000;" do %>
            <h4><%= customer.name %></h4>
            <% end %>

            <%= customer.profile %>
          </div>
          <div class="col-3">
            <!--フォロー機能-->
            <% if current_customer.following?(customer) %>
              <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-primary btn-sm mt-2" %>
            <% else %>
              <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class: "btn btn-primary btn-sm mt-2" %>
            <% end %>
          </div>

          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
