<div class="border-right border-left border-bottom p-4">
  <div class="row">

    <!--ユーザー画像-->
    <div class="col-2 pr-0 py-2">
      <%= image_tag like.customer.get_profile_image, size: "60x60",class:"border d-block mx-auto" %>
    </div>

    <!--ユーザー名とタイトル-->
    <div class="col-8 py-2">
      <p class="font-weight-bold mb-2">
        <% if admin_signed_in? %>
          <%= link_to admin_customer_path(like.customer.id), :style=>"text-decoration: none; color: #000;" do %><%= like.customer.name %><% end %>
        <% elsif customer_signed_in? %>
          <%= link_to customer_path(like.customer.id), :style=>"text-decoration: none; color: #000;" do %><%= like.customer.name %><% end %>
        <% else %>
          <%= link_to customer_path(like.customer.id), :style=>"text-decoration: none; color: #000;" do %><%= like.customer.name %><% end %>
        <% end %>
      </p>

      <p class="mb-0">
        <% if admin_signed_in? %>
          <%= link_to admin_like_path(like.id), :style=>"text-decoration: none; color: #000;" do %><%= like.name %><% end %>
        <% elsif customer_signed_in? %>
          <%= link_to like_path(like.id), :style=>"text-decoration: none; color: #000;" do %><%= like.name %><% end %>
        <% else %>
          <%= link_to like_path(like.id), :style=>"text-decoration: none; color: #000;" do %><%= like.name %><% end %>
        <% end %>
      </p>
    </div>

    <!--投稿の編集と削除-->
    <% if customer_signed_in? %><!--ログインしているとき-->
      <% if current_customer.id == like.customer.id %>
        <div class="dropdown col-2 py-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            ...
          </button>
          <ul class="dropdown-menu px-2" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item">
                <%= link_to edit_like_path(like.id), :style=>"text-decoration: none; color: #000;" do %><p class="m-0">編集</p><% end %>
              </a>
            </li>
            <li>
              <a class="dropdown-item">
                <%= link_to like_path(like.id), method: :delete, :style=>"text-decoration: none; color: #000;", data: { confirm: '本当に消しますか？' } do %><p class="m-0">削除</p><% end %>
              </a>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="m-4">

    <p class="mt-2"><%= like.introduction %></p>

    <!--タグ関連-->
    <div>
      <i class="fas fa-tag"></i> :

      <% like.tags.each do |tag| %>
        <%= link_to search_tag_path(tag_id: tag.id) do %>
        <%= tag.tag_name %>
        <% end %>
        <%#= like.tags.map(&:tag_name).join(', ') %>
      <% end %>

      <%#= tag.tag_name%><%#="(#{tag.likes.count})" %>
    </div>

    <div><%= image_tag like.get_image, size: "260x180" %></div>

    <div class="row m-2">

    <!-- コメント数の可視化 -->
    <div class ="mx-2">
      <i class="fas fa-comment-dots"></i>
      <%= like.comments.count %>
    </div>

    <% if customer_signed_in? %> <!-- ログインしているとき -->

      <% if like.favorited?(current_customer) %>

        <!-- すでにいいね済みの場合はいいねを解除 -->
        <%= link_to like_favorites_path(like.id), method: :delete, remote: true, :style=>"text-decoration: none; color: #000;" do %>
          <div class ="mx-2">
            <i class="fas fa-heart" style="color: red;"></i>
            <%= like.favorites.count %>
          </div>
        <% end %>

      <% else %>

        <!-- まだいいねしていない場合はいいね登録 -->
        <%= link_to like_favorites_path(like.id), method: :post, remote: true, :style=>"text-decoration: none; color: #000;" do %>
        <div class ="mx-2">
          <i class="fas fa-heart"></i>
          <%= like.favorites.count %>
        </div>
        <% end %>

      <% end %>

    <% else %>
      <div class ="mx-2">
        <i class="fas fa-heart"></i>
        <%= like.favorites.count %>
      </div>
    <% end %>
    </div>

  </div>
</div>