<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>投稿一覧</h2>
    </div>
    <div class="col-sm-2 px-sm-0" >
      <%= link_to new_like_path do %>
      <i class="fas fa-plus-circle"></i>投稿追加
      <% end %>
    </div>
    <div class="row">
      <div class"col-sm-2 px-sm-0">
        <table class= "table text-center admin-products">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>説明</th>
              <th>画像</th>
            </tr>
          </thead>
          <% @likes.each do |like| %>
          <tbody>
            <tr>

              <td>
                <%= link_to likes_path(like.id) do %>
                <u><%= like.name %></u>
                <% end %>
              </td>

              <td><%= like.introduction %></td>

              <td><%= image_tag like.get_image, size: "330x330" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>