<div class="container mt-5 mb-5">

  <div class="center-block">
    <h2 class="text-primary mb-4 font-weight-bold">趣味投稿</h2>
  </div>

  <%= form_with model: @like, url: likes_path, local: true do |f| %>

  <!-- ユーザーの詳細編集 -->
  <div class="py-4">

    <!--タイトル-->
    <div class= "from-group mb-4">
      <%= f.text_field :name, placeholder:"タイトル", class:"form-control" %>
    </div>

    <!--説明文-->
    <div class= "from-group mb-4">
      <%= f.text_area :introduction, size: "50x8", placeholder:"趣味の説明", class:"form-control" %>
    </div>

    <!--タグ-->
    <div class= "from-group mb-4">
      <%= f.text_field :tag_name, size: "50x8", placeholder:",で区切ると複数タグが選択できます", class:"form-control" %>
    </div>

    <!--画像-->
    <div class= "from-group mb-4">
      <%= f.file_field :image, accept: 'image/*' %>
    </div>

    <div class="form-action">
      <%= f.submit "投稿", class:"btn btn-success" %>
    </div>
  </div>
  <% end %>

</div>
