<div class="container">

  <div class="border-right border-left border-bottom py-2 px-4">
    <h4>投稿詳細</h4>
  </div>
    <%= render 'like', like: @like %>


  <div class="border-right border-left border-bottom">

    <div id="content-lists">
      <div class="row">

        <div class="col-2">
          <%= image_tag current_customer.get_profile_image, size: "60x60",class:"border d-block mx-auto" %>
        </div>
        <div class="col-8 py-2">
        <%= form_with(model:[@like, @comment], method: :post) do |f| %>
          <%= f.text_field :comment_content %>
          <%= f.submit 'コメントする' %>
        <% end %>
        </div>

      </div>
    </div>

    <!--投稿に対してのコメント一覧-->
    <% @comments.each do |comment| %>
    <div id="content-lists">
      <div class="row">
      	<!--ユーザー画像-->
        <div class="col-2">
          <%= image_tag comment.customer.get_profile_image, size: "60x60",class:"border d-block mx-auto" %>
        </div>

        <div class="col-8 py-2">
          <p class="font-weight-bold mb-2">
            <%= link_to customer_path(comment.customer.id), :style=>"text-decoration: none; color: #000;" do %><%= comment.customer.name %><% end %>
          </p>

          <p class="mb-0">
            <%= comment.comment_content %>
          </p>
        </div>

        <!--コメントの削除-->
        <div class="col-2">
          <% if comment.customer == current_customer %>
            <%= link_to "削除", like_comment_path(comment.like.id,comment.id), class:"btn btn-primary", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>