<div class="container">

  <div class="border-right border-left border-bottom p-2 px-4">

    <% if @range == "ユーザー検索" %>
    <h4 class="text-primary font-weight-bold">検索名：<%= @word %></h4>
    <% elsif @range == "キーワード検索" %>
    <h4 class="text-primary font-weight-bold">検索ワード：<%= @word %></h4>
    <% elsif @range == "タグ検索" %>
    <h4 class="text-primary font-weight-bold">検索タグ：<%= @word %></h4>
    <% end %>

  </div>

  <!-- ユーザーの詳細 -->
  <div class="border-right border-left border-bottom">

    <!--プロフィール画像、名前、プロフィール文-->
    <div class="border-bottom p-2">


        <% if @range == "ユーザー名" %>
        <div class="col-1 mx-3 font-weight-bold"></div>
        <div class="col-10 font-weight-bold">名前</div>
        <% else %>
        <div class="col-1 mx-3 font-weight-bold"></div>
        <div class="col-10 font-weight-bold">タイトル</div>
        <% end %>


    </div>
  </div>

    <div>

      <% if @range == "ユーザー検索" %>

        <% @customers.each do |customer| %>

          <span class="col-1 mx-3">
            <%= link_to customer_path(customer.id) do %>
            <%= image_tag customer.get_profile_image, size: '40x40',class:"border" %>
            <% end %>
          </span>

          <div class="col-10">
            <%= link_to customer_path(customer.id), :style=>"text-decoration: none; color: #000;" do %>
            <h4 class="font-weight-bold"><%= customer.name %></h4>
            <% end %>
          </div>

        <% end %>

      <% elsif @range == "キーワード検索" %>

        <!-- ユーザーの投稿一覧 -->

        <% @likes.each do |l| %>
        <div id="favorite_buttons_<%= l.id %>">
          <%= render 'public/likes/like', like: l %>
        </div>
        <% end %>


      <% elsif @range == "タグ検索" %>

        <!-- ユーザーの投稿一覧 -->
        <% @tags.each do |tag| %>

          <% tag.likes.each do |like| %>
            <div id="favorite_buttons_<%= like.id %>">
            <%= render 'public/likes/like', like: like %>
            </div>
          <% end %>

        <% end %>

      <% else %>
      <% end %>


    </div>

  </div>
</div>