<div class="container mt-5 mb-5">

  <div class="center-block">
    <h2 class="text-primary mb-4 font-weight-bold">おしゃべりるーむにログイン！</h2>
  </div>

  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <!--名前入力-->
    <div class="field center-block">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field center-block">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div><br>

    <div class="action center-block">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  <% end %>

</div>
