<!DOCTYPE html>
<html>
  <head>
    <title>おしゃべりるーむ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><h3>おしゃべりるーむ</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!--adminログイン時のヘッダー-->
              <% if admin_signed_in? %>


              <!--customerログイン時のヘッダー-->
              <% elsif customer_signed_in? %>

                <!--ホーム画面に遷移-->
                <li class="nav-item mr-2">
                  <%= link_to root_path do %>
                  <i class="fas fa-home fa-2x"></i>
                  <% end %>
                </li>

                <li class="nav-item">
                  <%#= link_to customers_path, class: 'btn btn-info mr-2' do %>
                    <i class="fas fa-user"></i>follower関連
                  <%# end %>
                </li>

                <li class="nav-item">
                  <%= link_to  customer_path(current_customer) do %>
                    <i class="fas fa-user"></i>プロフィール
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to  new_like_path, class: 'btn btn-info mr-2' do %>
                    <i class="fas fa-birthday-cake"></i>趣味投稿
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'btn btn-info' do %>
                    <i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>

              <!--ゲストログイン時のヘッダー-->
              <% else %>
                <li class="nav-item">
                  <%#= link_to about_path, class: 'btn btn-info mr-2' do %>
                    <i class="fas fa-store-alt"></i>About
                  <%# end %>
                </li>
                <li class="nav-item">
                  <%#= link_to products_path, class: 'btn btn-info mr-2' do %>
                    <i class="fas fa-birthday-cake"></i>商品一覧
                  <%# end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_registration_path, data: {"turbolinks" => false}, class: 'btn btn-info mr-2' do %>
                    <i class="fas fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  new_customer_session_path, class: 'btn btn-info mr-2' do%>
                    <i class="fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  new_admin_session_path, class: 'btn btn-info' do%>
                    <i class="fas fa-sign-in-alt"></i>管理者用
                  <% end %>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
